<div class="container fuild" style="margin-top: 40px">
  <h2>PARENT</h2>
  <h1>REGISTER</h1>
  <div style="background-color:teal">
    <img src="assets/img/regis01-student-username.png" width="30px" height="30px">
    <input type="text" name="username" placeholder="Insert your username">
  </div>
  <br>
  <div style="background-color:teal">
    <img src="assets/img/regis01-student-pass.png" width="30px" height="30px">
    <input type="password" name="password" placeholder="Insert your password">
  </div>
  <br>
  <input type="password" name="password" placeholder="Confirm your password">
  <hr>
  <input type="text" name="fname" placeholder="Insert your firstname" style="margin-top: 10px" >
  <input type="text" name="lname" placeholder="Insert your lastname" style="margin-top: 10px" >
  <br>
  <input type="date" name="birthday" placeholder="XX / YY / ZZZZ" style="margin-top: 10px" >
  <br>
  <input type="number" name="idcard" placeholder="Insert your IDcard" style="margin-top: 10px" >
  <br>
  <input type="number" name="phonenum" placeholder="Insert your phone number" style="margin-top: 10px" >
  <br>
  <input type="email" name="email" placeholder="Insert your E-mail" style="margin-top: 10px" >
  <br>
  <input type="image" src="assets/img/regis02-student-change.png">
  <h2>CHILDREN</h2>
  <button style="width:200px">+</button>
  <br>
  <input type="text" name="from" placeholder="From" style="margin-top: 10px" >
  <a style="margin-top:10px" routerLink="/listcar"> find car for me</a>
  <br>
  <input type="text" name="to" placeholder="To" style="margin-top: 10px" >
  <br>
  <input type="text" name="andress" placeholder="Andress" style="margin-top: 10px" >
  <br>
  <button type="submit" class="btn btn-success" style="margin-top:10px" routerLink="/">Create an account</button>
  <br>
</div>

