<div class="container fuild" style="margin-top: 40px">
  <h2>STUDENT</h2>
  <h1>REGISTER</h1>
  <div style="background-color: darksalmon">
    <img src="assets/img/regis01-student-username.png" width="30px" height="30px">
    <input type="text" name="username" placeholder="Username">
  </div>
  <br>
  <div style="background-color: darksalmon">
    <img src="assets/img/regis01-student-pass.png" width="30px" height="30px">
    <input type="password" name="password" placeholder="Password">
  </div>
  <br>
  <input type="password" name="password" placeholder="Confirm your password">
  <hr>
  <input type="text" name="fname" placeholder="Firstname" style="margin-top: 10px" >
  <input type="text" name="lname" placeholder="Lastname" style="margin-top: 10px" >
  <br>
  <input type="date" name="birthday" style="margin-top: 10px" >
  <br>
  <input type="number" name="idcard" placeholder="ID card" style="margin-top: 10px" >
  <br>
  <input type="number" name="phonenum" placeholder="Phone number" style="margin-top: 10px" >
  <br>
  <input type="email" name="email" placeholder="E-mail" style="margin-top: 10px" >
  <br>
  <input type="text" name="school" placeholder="School" style="margin-top: 10px" >
  <br>
  <input type="text" name="grade" placeholder="Grade" style="margin-top: 10px" >
  <br>
  <input type="image" src="assets/img/regis02-student-change.png">
  <br>
  <button type="submit" class="btn btn-success" style="margin-top:10px" routerLink="/">Create an account</button>
</div>
