<div class="container fuild" style="margin-top: 40px; text-align: center">
  <img src="assets/img/biglogo.png" width="200px" height="80px">
  <br><br><br><br>
  <input type="text" name="username" placeholder="Insert your username">
  <br>
  <input type="password" name="password" placeholder="Insert your password" style="margin-top: 10px" >
  <br>
  <input type="password" name="password" placeholder="Confirm your password" style="margin-top: 10px" >
  <br>
  <input type="text" name="fname" placeholder="Insert your firstname" style="margin-top: 10px" >
  <br>
  <input type="text" name="lname" placeholder="Insert your lastname" style="margin-top: 10px" >
  <br>
  <button type="submit" class="btn btn-success" style="width: 100px; margin-top:10px" routerLink="/">Next</button>
</div>
