#container{
    background-color: #58FA58;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100px;
    width: 100%;
}
<<<<<<< HEAD

=======
>>>>>>> 8904e1b4da7ba03ee77923295c467b399fd6f13e
