
<body>
  <div class="container-fluid" style="margin-top: 80px; text-align: center">
    <img src="assets/img/biglogo.png" width="200px" height="80px">
    <br><br><br><br>
    <input class="text-center" type="text" name="username" [(ngModel)]="username" placeholder="Username">
    <br>
    <input class="text-center" type="password" name="password" placeholder="Password" style="margin-top: 15px" >
    <br>
    <br>
    <button routerLink="/{{username}}" type="submit" class="btn btn-success" style="width: 100px; margin-top:20px">Login</button>
    <br>
    <a style="margin-top:15px" routerLink="/choosestatus">Create an account?</a>
  </div>  
  <div id="route1">
    <img src="assets/img/route1.png" width="20%" height="20%" >
  </div>
</body>