<div class="container fuild" style="margin-top: 40px; text-align: center">
    <h1>WELLCOME,{{username}}</h1>
    <br>
    <img src="assets/img/biglogo.png" width="200px" height="80px">
    <br><br><br>
    <button  routerLink="/">
        <img src="assets/img/btn-editstu.png" width="100px" height="100px">
        <br>Edit Profile
    </button>
    <br><br>
    <button  routerLink="/">
        <img src="assets/img/btn-mappa.png" width="100px" height="100px">
        <br>Children Location
    </button>
    
</div>
