<div class="container fuild" style="margin-top: 40px; text-align: center">
  <a style="margin-top:10px" routerLink="/registerpar">Back</a>
  <br>
  <ul>
    <img src="assets\img\search-driver-pic.png" width="40px" height="40px">
    <li style="background-color:teal; margin-top: 10px">นาย a</li>
    <img src="assets\img\search-driver-pic.png" width="40px" height="40px">
    <li style="background-color:teal; margin-top: 10px">นาย b</li>
    <img src="assets\img\search-driver-pic.png" width="40px" height="40px">
    <li style="background-color:teal; margin-top: 10px">นาย c</li>
    <img src="assets\img\search-driver-pic.png" width="40px" height="40px">
    <li style="background-color:teal; margin-top: 10px">นาย d</li>
    <img src="assets\img\search-driver-pic.png" width="40px" height="40px">
    <li style="background-color:teal; margin-top: 10px">นาย f</li>
  </ul>
</div>